.bookings-header {
    line-height: 3;
    font-size: 30pt;
    text-align: center;
}

.bookingbubble {
    margin-left: auto;
    margin-right: auto;
    max-width: 365px;
}

.bookingbubble-line {
    line-height: 0.7;
}

.bookingbubble-title {
    float: left; 
    font-weight: bold;
}

.bookingbubble-text {
    float: right;
}

.cardtext {
    margin-left: 6%;
    margin-right: 6%;
}

.cardtitle {
    text-align: center;
    line-height: 1.7;
}

.card-body {
    padding: 0;
}